.el-table .table-killer-color {
  background: #EFFAFF;
}

.el-table .table-victim-color {
  background: #FFFAEF;
}

.aside-qualified-player *{
    background-color: #1e87f0;
    color: rgb(255, 255, 255, 1)!important;
}

.aside-insufficient-player *{
    background-color: #EeF7FF;
    color: #999;
}

.aside-banned-player *{
    background-color: rgb(238, 201, 205);
    color: rgb(83, 12, 12);
}