{% extends base.html %}

{% block contents %} 
<div class="uk-container uk-container-large uk-height-1-1">
    <div class='uk-flex'>
      <div class='uk-section uk-width-1-6'>
        <div class='uk-container'>
          <h4 class='uk-heading'>メニュー</h4>
          <ul class="uk-nav uk-nav-default">
            <li class='uk-nav-divider'></li>
            <li><a href="/admin"><span uk-icon='icon: home' class='uk-margin-small-right'></span>ダッシュボード</a></li>
            <li><a href="/admin/replays"><span uk-icon='icon: search' class='uk-margin-small-right'></span>リプレイ分析</a></li>
            <li disabled ><a href='/admin/users' disabled><span uk-icon='icon: users' class='uk-margin-small-right'></span>プレイヤー設定</a></li>
            <li><a href="/admin/matches"><span uk-icon='icon: database' class='uk-margin-small-right'></span>マッチレコード設定</a></li>
            <li><a href="/admin/scores"><span uk-icon='icon: settings' class='uk-margin-small-right'></span>スコア計算の設定</a></li>
          </ul>
        </div>
      </div>
      <div class='uk-width-4-6'>
        <div class="uk-container uk-container-medium">
          <div class='uk-section uk-section-default'>
            <h2 class='uk-heading uk-text-center'><span>{% block header %} ダッシュボード {% end %}</span></h2>
            {% block page-contents %}
            {% end %}
          </div>
        </div>
      </div>
  </div>
</div>
{% end %}