{% extends admin.html %}
{% block title %} Replay {% end %}
{% block header %} リプレイ分析 {% end %}

{% block page-contents %}
<div class='uk-animation-top-small uk-animation-fast'>
  <div class="js-upload uk-placeholder uk-text-center">
    <div class='uk-section uk-section-muted uk-section-large'>
      <span uk-icon="icon: cloud-upload" class='uk-margin-small-right'></span>
      <span class="uk-text-middle">ここに [マッチデータ].zip の形式のファイルを投げ込むか、</span>
      <div uk-form-custom>
        {% module xsrf_form_html() %}
        <input type="file" name='file' multiple>
        <span class="uk-link">ここから選択してください</span>
      </div>
    </div>
  </div>
    <progress id="upload-bar" class="uk-progress" value="0" max="100" hidden></progress>
</div>
<script>
  let bar = document.getElementById('upload-bar');

  function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
  }

  UIkit.upload('.js-upload', {

    url: '',
    multiple: true,
    params: {
      _xsrf: getCookie('_xsrf')
    },
    allow: '*.replayinfo',

    results: [],
    errors: [],

    beforeSend: function (envs) {
        console.log('beforeSend', arguments);
    },

    beforeAll: function () {
        console.log('beforeAll', arguments);
    },

    load: function () {
        console.log('load', arguments);
    },

    error: function () {
        console.log('error', arguments);
    },

    complete: function () {
      console.log('complete', arguments);
      const response = JSON.parse(arguments[0].response);
      const result = response.result;
      const message = response.message;

        if(result === 'error') {
          this.errors.push(message);
        }

        else if(result === 'done') {
          this.results.push(message);
        }
    },

    loadStart: function (e) {
        console.log('loadStart', arguments);

        bar.removeAttribute('hidden');
        bar.max = e.total;
        bar.value = e.loaded;
    },

    progress: function (e) {
        console.log('progress', arguments);

        bar.max = e.total;
        bar.value = e.loaded;
    },

    loadEnd: function (e) {
        console.log('loadEnd', arguments);

        bar.max = e.total;
        bar.value = e.loaded;
    },

    completeAll: function () {
        console.log('completeAll', arguments);

        setTimeout(function () {
            bar.setAttribute('hidden', 'hidden');
        }, 1000);

        let notifyMsg = 'placeholder';
        let notifyType = 'warning';

        const onlyError = this.results.length === 0;
        const onlySuccess = this.errors.length === 0;
        
        // Mixed
        if(!onlyError && !onlySuccess)
        {
          console.log('MixEd');
          notifyMsg = this.results.join('\n');
          notifyMsg += this.errors.join('\n');
        }
        else {
          if (onlyError) {
            console.log('errorOnly');
            console.log(this.errors);
            notifyMsg = this.errors.join('\n');
            notifyType = 'danger';
          }
          else if(onlySuccess) {
            notifyMsg = this.results.join('\n');
            notifyType = 'success';
          }
        }

        UIkit.notification(notifyMsg, {status: notifyType});
    }

  });

</script>
{% end %}
