{% extends admin.html %}
{% block title %} Matches {% end %}
{% block header %} Match 設定 {% end %}

{% block page-contents %}
<div class='uk-container uk-container-small'>
  {% if matches %}
  <div>
    <ul class='uk-list match-accordion' uk-accordion>
      {% for match in sorted(matches, key=lambda x: x.numbering) %}
      <li data-year='{{ match.date.year }}' data-map='{{ match.map }}' data-count='{{ match.numbering }}'>
          <a class='uk-accordion-title'>{{ match.date }} 開催 第 {{ match.numbering }} 回マッチ</a>
          <div class='uk-accordion-content'>
            <div class='uk-card uk-card-body'>
              <h4 class='uk-card-title uk-heading-bullet'>設定</h4>
              <dl class='uk-description-list uk-child-width-1-3' uk-grid>
                <div>
                  <dt>マップ</dt>
                  <dd>
                    <img data-src='{{ static_url("pubgicons/Map/{matchmap}.png".format(matchmap=match.map)) }}' uk-img>
                    {{ const.MapName[match.map] }}
                  </dd>
                </div>
                <div>
                  <dt>日付</dt>
                  <dd>{{ match.date }}</dd>
                </div>
                <div>
                  <dt>長さ</dt>
                  <dd>{{ match.duration }}</dd>
                </div>
                <div>
                  <dt>天候</dt>
                  <dd>
                    {{ const.Weather[match.weather] }}
                  </dd>
                </div>
                <div>
                  <dt>視点</dt>
                  <dd>{{ match.perspective }}</dd>
                </div>
              </dl>
              <h4 class='uk-card-title uk-heading-bullet'>ランク</h4>
              <ul class='uk-list uk-list-divider uk-padding-remove-left'>
                {% for rank in sorted(match.places, key=lambda x: x.place) %}
                  <li>
                    <div class='uk-child-width-1-6' uk-grid>
                      <div>{{ rank.place }}位</div>
                      <div>{{ rank.player.name }}</div>
                  </li>
                {% end %}
              </ul>
              <h4 class='uk-card-title uk-heading-bullet'>キル</h4>
              <div>
                <ul class='uk-list uk-list-divider uk-padding-remove-left'>
                  {% for kill in match.kills %}
                    <li> 
                      <div uk-grid>
                        <div class='uk-width-1-4'>{{ kill.killer.player.name }}</div>
                        <div class='uk-width-1-4'>
                          {% if kill.damagetype in const.WeaponDamage %}
                            <img width='40' data-src="{{ static_url('pubgicons/Item/{}.png'.format(kill.weapon)) }}" uk-img>
                            <span class='uk-text-muted uk-margin-small-left'>{{ const.DamageCauserName[kill.damagecause] }}</span>
                          {% else %}
                            <img width='40' data-src="{{ static_url('pubgicons/Killfeed/{}.png'.format(const.DamageCategory[kill.damagetype]['icon'])) }}" uk-img>
                            <span class='uk-text-muted uk-margin-small-left'>{{const.DamageCategory[kill.damagetype]['name']}}</span>
                          {% end %}
                        </div>
                        <div class='uk-width-1-4'>{{ kill.victim.player.name }}</div>
                        <div>  
                          <button class='uk-button uk-button-default'>Info</button>
                          <div class='uk-width-medium' uk-dropdown='pos:right-bottom'>
                            <dl class='uk-description-list'>
                            {% if kill.damagetype in const.WeaponDamage %}
                              <dt>アタッチメント</dt>
                              <dd>
                                <ul class='uk-list uk-padding-remove-left'>
                                {% try %}
                                  {% for i in kill.weaponmods.split(',') %}
                                    <li>{{ const.Items[i] }}</li>
                                  {% end %}
                                {% except %}
                                  <li>なし</li>
                                {% end %}
                                </ul>
                              </dd>
                              {% end %}
                              <dt>死因</dt>
                              <dd>{{ const.DamageCategory[kill.damagetype]['name'] }}</dd>
                              <dt>箇所</dt>
                              <dd>{{ const.DamagePos[kill.damagepos] }}</dd>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% end %}
                </ul>
              </div>
          </div>
          <hr>
          <div>
              {% if match.is_freezed %}
            <button class='uk-button-primary uk-button uk-button-default' data-count='{{match.numbering}}' data-action='matchfreeze' data-isfreezed='{{match.is_freezed}}' data-uuid='{{ match.uuid }}' id='action-confirm'>
                フリーズ解除
              {% else %}
            <button class='uk-button-secondary uk-button uk-button-default' data-count='{{match.numbering}}' data-action='matchfreeze' data-isfreezed='{{match.is_freezed}}' data-action='matchshift' data-uuid='{{ match.uuid }}' id='action-confirm'>
                フリーズ
              {% end %}
            </button>
            <button class='uk-button-warning uk-button-default uk-button' data-count=
            '{{ match.numbering }}' data-uuid='{{ match.uuid }}' id='action-confirm' data-action='matchshift'>SHIFT</button>
            <button class='uk-button uk-button-default uk-button-danger' data-count='{{match.numbering}}' data-action='matchremove' data-uuid='{{ match.uuid }}' id='action-confirm'>削除</button>
          </div>
        </li>
      {% end %}
    </ul>
  {% end %}
  </div>
</div>

<div id='modal-details' uk-modal>
  <div class='uk-modal-dialog uk-modal-body'>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <form method="POST">
      {% module xsrf_form_html() %}
      <input hidden name='_post_action' value='modify' />
      <input hidden name='_details_player_id' value=''>
      <div class='uk-card'>
          <h3 class='uk-card-title'>
            詳細
          </h3>
        <div class='uk-card-body uk-padding-small'>
          <div class='uk-grid-small' uk-grid>
            <div class='uk-'>
              NAME: <input id='detail-name' class='uk-input uk-form-width-auto' value=''>
            </div>
            <div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<script>
  // I normally code in Python so this code is super messy forgive me plz
  // TODO: separate into an individual JS Files
  // TODO: Switch from plain Javascript to Vue
  const REMOVE = 'matchremove';
  const FREEZE = 'matchfreeze';
  const SHIFT = 'matchshift';
  function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
  }
  
  function sendAction(action, uuid, shiftnum=null) {
    const url = '/admin/matches';
    const _xsrf = getCookie('_xsrf');
    const request = new FormData();

    request.set('_xsrf', _xsrf);
    request.set('uuid', uuid);
    request.set('action', action);
    if(shiftnum !== null) {
      request.set('shiftnum', shiftnum);
    }

    return fetch(url, {
      method: 'POST',
      body: request,
    }).then(resp => resp.json());
  }

  UIkit.util.on(document, 'click', '#action-confirm', (event) => {
    console.log(event.target);
    const uuid = event.target.dataset.uuid;
    const action = event.target.dataset.action;
    const count = event.target.dataset.count;
    let confirmText;
    let successText;
    let callback;
    switch(action){
      case FREEZE:
        {
          // Hacky
          const isfreezed = event.target.dataset.isfreezed === 'True';
          if (!isfreezed) {
            confirmText = '第' + count + '回のマッチがフリーズされます。<br>';
            confirmText += 'フリーズされたマッチはランキングに映らなくなり、スコア表示の際に計算対象から除外されます。<br>';
            confirmText += '一度行われたフリーズは解除されるまで続きます。<br>';
            confirmText += '<br>フリーズしてもよろしいですか？';
            successText = '正常にフリーズされました。';
            callback = function () {
              event.target.textContent='フリーズ解除';
              event.target.dataset.isfreezed='True';
              event.target.classList.remove('uk-button-secondary');
              event.target.classList.add('uk-button-primary');
            };
          }
          else {
            confirmText = '第' + count + '回のマッチのフリーズが解除されます。\nよろしいですか？';
            successText = '正常にフリーズが解除されました。';
            callback = function () {
              event.target.textContent='フリーズ'
              event.target.dataset.isfreezed='False';
              event.target.classList.remove('uk-button-primary');
              event.target.classList.add('uk-button-secondary');
            };
          }
        }
        break;

      case REMOVE:
        confirmText = '第' +  count + '回のマッチが削除されます。\nよろしいですか？';
        successText = '正常に削除されました。';
        callback = function () {
          event.target.disabled = true;
        }
        break;

      case SHIFT:
        confirmText = '第' +  count + '回のマッチがSHIFTされます。\n';
        successText = 'SHIFT SUCCESSFUL.';
        callback = function () {
          setTimeout(() => {
            location.reload();
          }, 2000);
        }
        break;
    }  
    if (action !== SHIFT){
      UIkit.modal.confirm(confirmText)
      .then(
        () => {
          console.log('Confirmed.');
          sendAction(action, uuid).then(
            response => {
              if(response.result === 'done') {
                UIkit.notification(successText, 'success');
                callback();
              }
              else if(response.result === 'error') {
                UIkit.notification(response.error, 'danger');
                event.target.disabled = true;
              }
            }
          );
        },

        () => {
          console.log('Rejected.');
          // Rejected.
        },
      );
    }
    // Shift Only
    else {
      UIkit.modal.prompt(confirmText, count)
      .then(new_number => {
        // If new_number changes to NaN, it means it cannot be a number (contains some words)
        // so return null
        // otherwise it will change new_number to number type
        if(count === new_number 
          || count === null 
          || Number(new_number) === NaN
          || Math.floor(Number(new_number)) < 1) {
          return null;
        }

        // if new_number is string, type change to number
        new_number = Math.floor(Number(new_number))
        sendAction(action, uuid, new_number)
        .then(
          response => {
            if(response.result === 'done') {
              UIkit.notification(successText, 'success');
              callback();
            }
            else if(response.result === 'error') {
              UIkit.notification(response.error, 'danger');
              console.log(response.error, 'error');
            }
            else {
              UIkit.notification('u wot m8', 'warning');
            }
          }
        );
      });
    }
  });
</script>
{% end %}
