{% extends admin.html %}
{% block title %} users {% end %}
{% block header %} プレイヤー設定 {% end %}

{% block page-contents %}

<div class='uk-container'>
  <h3 class='uk-heading-bullet'>プレイヤー一覧</h3>
  <div id='useractions'>
    {% if users %}
        <playertable users='{{ users }}'
          @modify='modifyUser'
          @connect='connectUser'
          @ban='banUser'>
        </playertable>
      </ul>
    {% else %}
      <div class='uk-section uk-section-large uk-margin'>
          <div class='uk-text-center'>まだ大会を分析していないようです。</div>
      </div> 
    {% end %}
  </div>
</div>

{% end %}
{% block footer %}

  <style>
    .el-table .banned {
      background: #FFEFEF;
    }

    .el-table .alt_account {
      background: #F2FAFF;
    }
  </style>
  <script src='{{ static_url("js/adminReplay.js") }}'> </script>
{% end %}
