<!DOCTYPE html>
<html>
  <head>
    {% if handler.config['SETTINGS']['debug'] %}
      <!-- Debug Vue JS -->
      <script src="{{ static_url('js/vue.js') }}"></script>
    {% else %}
      <!-- Production Vue JS -->
      <script src="{{ static_url('js/vue.min.js') }}"></script>
    {% end %}

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="{{ static_url('css/uikit.min.css') }}" />
    <!-- ElementUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- UIkit JS -->
    <script src="{{ static_url('js/uikit.min.js') }}"></script>
    <script src="{{ static_url('js/uikit-icons.min.js') }}"></script>
    <!-- ElementUI JS -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

    <!-- AXIOS JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Moment JS -->
    <script src="{{ static_url('js/moment.min.js') }}"></script>
    
    <!-- Script Locale Change -->
    <script>
      ELEMENT.locale(ELEMENT.lang.en)
    </script>

    <!-- Chart JS -->
    <script src="{{ static_url('js/Chart.bundle.min.js') }}"></script> 

    <title>{%block title%}{% end %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div style="background:linear-gradient(to left, #4ab6ff, #3ba6fe)" class="uk-navbar-container uk-active">
      <div class="uk-container uk-container-expand">
        <nav uk-navbar class="uk-navbar">
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-active">
                <a  style='color:#fff' href='/'>
                  トップページ
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>  
    {% block contents %}
    {% end %}
  </body>
  <footer>
    {% block footer %}
    {% end %}
  </footer>
</html>
