{% extends base.html %}
{% block contents %}
<div class="uk-container uk-container-expand" id='rankapp'>

  <section class='uk-section uk-section-default'>
    <div>
      <h1 class='uk-heading uk-text-center'>Ranking</h1>
    </div>
    <div class='uk-container uk-container-small uk-padding-small'>
        <ul class='uk-flex-center uk-margin-bottom-small' uk-tab>
          <li class='uk-active'><a @click="currentRange = 'week'">週間</a></li>
          <li><a @click="currentRange = 'month'">月間</a></li>
          <li><a @click="currentRange = 'year'">年間</a></li>
        </ul>
    </div>
      <el-collapse-transition>
        <div class='uk-container' v-loading="!loaded">
          <div class='uk-text-center uk-child-width-1-1'>
            <player-table :match='match' :date-range='currentRangeText' @dialog='showDialog' @shift='dateShift'>
            </player-table>
          </div>
        </div>
      </el-collapse-transition>
      <div class='uk-flex uk-flex-center uk-flex-middle uk-height-large' v-if='!loaded'> <!-- If not Loaded -->
        <div uk-spinner="ratio: 5"></div>
      </div>
  </section>

  <el-dialog :title="modalMatchData.date + ' Match'" :visible.sync="modalShow" width='50%' >
    <div>
      <el-container v-loading='!modalLoaded'>
        <el-aside width='30%'>
          <h3 class="uk-heading-divider">マッチ設定</h3>
          <div class='uk-margin-bottom'>
            <div class='uk-text-muted'>開催日</div>
            <div>
              <span class='uk-text-lead'>[[ modalMatchData.date ]]</span>
            </div>
          </div>
          <div class='uk-margin-bottom'>
            <div class='uk-text-muted'>マップ</div>
            <div>
              <span class='uk-text-lead'><img :data-src='modalMatchData.mapimg' uk-img>[[ modalMatchData.map ]]</span>
            </div>
          </div>
          <div class='uk-margin-bottom'>
            <div class='uk-text-muted'>天気</div>
            <div>
              <span class='uk-text-lead'>[[ modalMatchData.weather ]]</span>
            </div>
          </div>
          <div class='uk-margin-bottom'>
            <div class='uk-text-muted'>マッチ時間</div>
            <div>
              <span class='uk-text-lead'>[[ modalMatchData.duration ]]</span>
            </div>
          </div>
        </el-aside>
        <el-container>
          <el-header>
            <h3 class="uk-heading-divider">キルログ</h3>
          </el-header>
          <el-main v-show='modalLoaded'>
            <el-table :data='modalMatchData.kills'>
              <el-table-column type="expand">
                <template slot-scope="props">
                  <p>アタッチメント [[ props.row.weaponmods.join(' ') ]]</p>
                  <p>死因 [[ props.row.damagetype ]] </p>
                  <p>位置 [[ props.row.damagepos ]] </p>
                </template>
              </el-table-column>
              <el-table-column prop="killer" label='Killer'>
                
              </el-table-column>
              <el-table-column label='Weapon'>
                <template slot-scope="scope">
                  <div class='uk-text-truncate'>
                    <img :data-src='scope.row.killimg' width='40' class='uk-margin-small-right' uk-img>
                    <span>[[ scope.row.weapon ]]</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="victim" label='Victim'>
              </el-table-column>
            </el-table>
          </el-main>
        </el-container>
      </el-container>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="modalShow = false">閉じる
      </el-button>
    </span>
  </el-dialog>
</div>




{% end %}
{% block footer %}
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="{{ static_url('js/index.js') }}"></script>
  <link rel="stylesheet" href="{{ static_url('css/index.css') }}" />
{% end %}
