<!DOCTYPE html>
<html>
  <head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
    <title>Ranking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div style="background:linear-gradient(to left, #4ab6ff, #3ba6fe)" class="uk-navbar-container uk-active">
      <div class="uk-container uk-container-expand">
        <nav uk-navbar class="uk-navbar">
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-active">
                <a  style='color:#fff' href='/login'>
                  Login Page
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>  
    <div class="uk-container">
      <div class='uk-section uk-section-default'>
        <form method='POST'>
          {% module xsrf_form_html() %}
          <fieldset class='uk-fieldset'>
            <legend class='uk-legend'>Login</legend>

            <div class='uk-margin'>
              <input class="uk-input" type='password' name='password' placeholder='password'>
            </div>

            <div class='uk-margin'>
              <button class='uk-button' type='submit'>Login</button> 
            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </body>
  <footer>
  </footer>
</html>

